<!DOCTYPE html>
<html>
<head>
	<style>
	body {
	    background-color: #35495D;
	}
	h1 {
	    font-size: 150%;
	    font-weight: 100;
		font-family: "Helvetica";
		color: white;
		text-align: center;
		padding-top: 15px;
	}
	img {
		width: 10%;
		height: 10%;
		padding-top: 220px;
	}

	</style>
</head>
<body>
	<a href="https://drive.google.com/open?id=14EVdx1zOI3TWG2dlsJB4JPdFhromVhyv">
	<center><img src="https://firebasestorage.googleapis.com/v0/b/adilabs-tech-challenge.appspot.com/o/logo.png?alt=media&token=890d53a6-b180-476a-ba88-5042aaa66b1a" alt="AG Logo"></center>
	</a>
	<h1>Abhi Gupta</h1>
</body>
</html>

